/* Centered row styles */
.row-centered {
    text-align:center;
}

/* Centered columns styles */
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
