<!-- Begin Seguici Section -->
<section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.followusBlockImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title">{{ site.followusTitle }}</h3>

			{% for item in site.followusItems %}
			{% assign colWidth = 12 | divided_by: forloop.length %}
			<div class="col-md-{{ colWidth }} col-xs-6 rockstar-speakers-item">
				<div class="rockstar-speaker">
					<a href="{{ item.link }}">
						<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.baseurl }}/img/social/{{ item.image }});">
						</div>
					</a>
					<div class="name"> {{ item.name }} </div>
				</div>
			</div>
			{% endfor %}

			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- End Seguici Section -->
