<!-- Begin Seguici Section -->
<section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/social/backgroundsocial.jpg);">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title">Follow us</h3>

			<div class="col-md-4 col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="700">
				<div class="rockstar-speaker">
					<a href="https://facebook.com/gdgcatania/">	
						<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.baseurl }}/img/social/facebook.png);">
						</div>
					</a>

					<div class="name">
						Facebook
					</div>
				</div>
			</div>

			<div class="col-md-4 col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="700">
				<div class="rockstar-speaker">
					<a href="https://telegram.me/joinchat/BaFZOD-uNCm1Xd3usSxeuA">	
						<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.baseurl }}/img/social/telegram.png);">
						</div>
					</a>
					<div class="name">
						Telegram
					</div>
				</div>
			</div>	

			<div class="col-md-4 col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="700">
				<div class="rockstar-speaker">
					<a href="http://forum.gdgcatania.org/">	
						<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.baseurl }}/img/social/NodeBB.png);">
						</div>
					</a>
					<div class="name">
						Forum
					</div>
				</div>
			</div>

			<div class="clearfix"></div> 
		</div>
	</div>
</section>
<!-- End Seguici Section -->