<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper" id="networkParticles">
        <div class="jumbotron">
            <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                {% assign heroText = site.heroTitle | split:"<typeout>" %}
                <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
                <h4>{{ site.eventDate }}</h4>
            </div>
        </div>
        <a href="#latest-news" class="explore">
            <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
            </svg>
        </a>
    </div>
</section>
<!-- End Hero Section -->

<script type="text/javascript">
  particlesJS.load('networkParticles', '{{ site.baseurl }}/js/custom/particles.json', function() {});
</script>
