<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header"><div class="logo logo-light"></div></a>
    <a href="{{ site.baseurl }}/hackwtm17" id="logo-header" class="logo-header" style="float: right; color: RED;"><div class="logo logo-light" style="background-image: url('{{ site.baseurl }}/img/sprites/hackwtm.png'); width: 280px !important;"></div></a>
    <!--<a href="#" class="right-nav-button btn btn-primary waves-effect waves-button waves-light waves-float pull-right">LogoKit</a> -->
</header>
