<!-- Begin next-event Section -->
<section id="next-event" class="next-event" >
    <div class="content-wrapper row">
        <h3 style="margin-bottom:0px;">{{ site.nextEventTitle }}</h3>
        <div class="col-md-9 col-sm-12 row" data-animation="fadeInUp" data-delay="0">
            <div class="col-md-12"><img src="{{ site.baseurl }}/img/sections-background/{{ site.nextEventImage }}" class="img-fluid" width="100%" height="100%" alt="Responsive image"></div>
            {% for item in site.nextEventItems %}
			{% assign colWidth = 12 | divided_by: forloop.length %}
			<div class="col-md-{{ colWidth }} col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="0">
				<div class="rockstar-speakers">
					<a href="{{ item.link }}">
						<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url({{ site.baseurl }}/img/social/{{ item.image }});">
						</div>
					</a>
					<div class="name"> {{ item.name }} </div>
				</div>
			</div>
			{% endfor %}
        </div>
        <div class="col-md-3 col-sm-12" data-animation="fadeInUp" data-delay="0">
            <button class="btn btn-primary" id="moreInformation" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            More information
            </button>
            <p id="collapseExample" class="collapse">
                Volete sbirciare dietro le quinte della vostra community di sviluppo preferita o giocare un ruolo attivo per farla crescere? Vi aspettiamo al Vulcanic per il meetup del 26 Giugno alle ore 18:00, non mancate!
            </p>
        </div>
    </div> 
</section>
<!-- End next-event Section -->